.board {
  display: block;
  padding: 5px;
}

.cells {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: rgba(196, 196, 196, 0.5);
  padding: 25px;
  margin: 2px;
  border-radius: 2px;
  

}

.can-move{
  background-color: rgba(42, 231, 28, 0.29);
}

.can-attack{
  background-color: black;
}

.player1{
  background-color: rgb(206, 37, 37);
}

.player2{
  background-color: rgb(65, 121, 164);
}

.can-attack{
  background-color: black;
}