.board {
  padding: 5px;
  margin: 0 auto;
}

.cells {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: grey;
  padding: 5px;
  margin: 5px;
}

.can-move{
  background-color: green;
}

.can-attack{
  background-color: purple;
}

.player1{
  background-color: red;
}

.player2{
  background-color: blue;
}
